'name': 'Angular Slim'
'scopeName': 'source.gfm'
'fileTypes': [
  'slim'
]
'patterns': [
  {
    'match': 'ng-repeat'
    'name': 'constant.character.escape.gfm'
  },
  {
    'match': 'ng-if'
    'name': 'markup.bold.italic.gfm'
  }
]
